<!DOCTYPE html>
<html>
	<head>
		<title>Welcome, friends!</title>
	</head>
	{% block heading %}
  		<h1>{% block page %}{% endblock %} - Flask Super Example</h1>
	{% endblock %}
	<body>
		<div class="container">
      		<h2>This is part of my base template</h2>
      		<br>
      			{% block content %}{% endblock %}
      		<br>
      		<h2>This is part of my base template</h2>
      		<br>
      		<div class="footer">
        		{% block footer %}
          			Watch! This will be added to my base and child templates using the super powerful super block!
          			<br>
          			<br>
          			<br>
        		{% endblock %}
      		</div>
		</div>
	</body>
</html>